@import 'base';

.container {
  display: flex;
  flex-flow: column nowrap;
  margin: 2em auto;
  width: 320px;
  @include MQ(SM) {
    margin: 2em auto;
    width: 494px;
  }
}

.card {
  padding-bottom: 0.75em;
  width: 100% !important;
  margin: 1.5em auto;
}

.question {
  text-align: center;
}

.actionDiv {
  position: relative;
}

.cardActions {
  margin: 1em 8px 1em 8px !important;
}

.loading {
  height: 46px;
  margin: 0em 8px 0em 8px !important;
}

.creator {
  text-decoration: none;
  color: #337ab7;
}

.creatorDiv {
  font-size: 0.9em;
  top: 62% !important;
}

.appIcon {
  width: 50px !important;
  height: 50px !important;
  /* text-align: center; */
  color: #337ab7 !important;
}

.appIconDiv {
  display: flex !important;
  justify-content: center !important;
  margin: 2em auto 0.5em auto !important;
}

.makePollButton {
  text-align: center;
}

