@import 'base';

.container {
  display: flex;
  flex-flow: column nowrap;
  margin: 2em auto;
  width: 320px;
  @include MQ(SM) {
    margin: 2em auto;
    width: 494px;
  }
}

.card {
  padding-bottom: 0.75em;
  width: 100% !important;
}

.formBody {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 1em;
  padding: 0em 1em 1em 1em !important;
  @include MQ(SM) {
    margin: 0;
    padding: 0em 32px 1em 32px !important;
  }
}

.cardActions {
  text-align: center;
  // margin: 1em auto;
  margin-top: 1em;
  // @include MQ(SM) {
  //   margin: 0;
  //   margin-top: 32px !important;
  // }
}

.thirdPartySignin {
  text-align: center;
  margin: 1em auto 1em auto;
  @include MQ(SM) {
    padding: 32px 32px 0 32px !important;
  }
}

.separator {
  color: #999;
  margin: 1.5em auto;
  margin-bottom: 0;
  position: relative;
  z-index: 3;
  width: 250px;
}

.lineSeparator {
  &:before {
    display: block;
    border: 1px solid #999;
    width: 40%;
    content: ' ';
    position: absolute;
    top: 50%;
    left: 5%;
  }
  &:after {
    display: block;
    border: 1px solid #999;
    width: 40%;
    content: ' ';
    position: absolute;
    top: 50%;
    right: 5%;
  }
}

.rememberOrForgot {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 1em;
  font-size: 0.8em;
  @include MQ(SM) {
    font-size: 1em;
  }
}

.forgot {
  padding-top: 10px; // got get the forget password text to line up with remember me
}

.checkbox {
  padding-top: 5px; // got get the forget password text to line up with remember me
}

.signup {
  display: flex;
  justify-content: space-between;
  margin: 0 1em !important;
  align-items: center;
}

.signupText {
  font-size: 0.8em;
  @include MQ(SM) {
    font-size: 0.9em;
    letter-spacing: 0.1em;
  }
}

.loading {
  height: 46px;
  margin-bottom: 2em;
}