@import 'base';

.container {
  display: flex;
  flex-flow: column nowrap;
  margin: 2em auto;
  width: 320px;
  @include MQ(SM) {
    margin: 2em auto;
    width: 494px;
  }
}

.card {
  padding-bottom: 0.75em;
  width: 100% !important;
  margin: 1.5em auto;
}

.question {
  text-align: center;
}

.optionDiv {
  margin: 0em 8px 0em 8px !important;
  span {
    text-transform: initial !important;
  }
}

.optionButton {
  margin: 0.5em 0;
}

.actionDiv {
  position: relative;
  text-align: center !important;
}

.cardActions {
  margin: 1em 8px 1em 8px !important;
}

.voteStats {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  margin: 0em 8px 0em 8px !important;
  h4 {
    margin: 0.5em;
  }
}

.chipDiv {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 0.5em;
}

.chip {
  margin: 0.25em 0.5em !important;
  span {
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.input {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
}

.loading {
  height: 46px;
  margin: 0em 8px 0em 8px !important;
}

